body {
    font-family: Arial, sans-serif;
    background-color: #f5edf3; /* Light teal background for an aesthetic look */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    color: #00796b; /* Dark teal for a professional look */
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #00796b; /* Consistent color with header */
}

input[type="text"], 
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #dfb2d6; /* Light teal border */
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #790063; /* Dark teal background */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #48004d; /* Darker teal on hover */
}

#result {
    text-align: center;
}

#safetyScore {
    font-size: 20px;
    font-weight: bold;
    color: #790067;
}
